
.spinner__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/blob-scene-haikei.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

