.Itemlist{
    
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, .3);
}

.tags{
    background-image: url('../../../blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

